html, body {
  margin: 0;
  padding: 0; }

nav {
  float: left;
  font-family: "Inconsolata", sans-serif;
  font-size: 22px;
  max-width: 1000px;
  background-color: #2DA9FF;
  height: 45px; }
  nav ul {
    width: 275px;
    margin: 0;
    padding: 0; }
    @media screen and (max-width: 30em) {
      nav ul.closed div#hamburger {
        float: left;
        margin: 10px -22px 10px 0;
        width: 22px;
        height: 22px;
        background-image: url("../images/hamburger.png");
        background-size: cover; }
      nav ul.closed li:nth-child(n+2) {
        display: none; }
      nav ul.closed ul.dropdown {
        display: none; }
      nav ul.open div#hamburger {
        float: left;
        margin: 10px -22px 10px 0;
        width: 22px;
        height: 22px;
        background-image: url("../images/x-icon.png");
        background-size: cover; }
      nav ul.open li ul.dropdown {
        width: 275px; }
        nav ul.open li ul.dropdown li a {
          line-height: 45px;
          border: none; }
        nav ul.open li ul.dropdown li:nth-child(4) {
          border-bottom: 1px solid #FFFFFF; } }
    nav ul li {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      nav ul li#mobile-menu {
        text-transform: uppercase; }
    nav ul a {
      display: block;
      background-color: #2DA9FF;
      padding: 0 20px;
      color: #FFFFFF;
      line-height: 45px;
      text-align: center;
      text-decoration: none;
      border-bottom: 1px solid #FFFFFF;
      width: 100%; }
      nav ul a:hover {
        background-color: #0A75BE; }
    @media screen and (min-width: 30.1em) and (max-width: 63.99em) {
      nav ul {
        width: 768px;
        margin: 0 auto;
        text-align: justify; }
        nav ul > li {
          display: inline-block;
          width: 30%;
          position: relative;
          margin: 0;
          padding: 0; }
          nav ul > li#mobile-menu {
            display: none; }
          nav ul > li > a {
            border-right: 1px solid #FFFFFF; }
        nav ul a {
          width: 100%; }
          nav ul a.active {
            background-color: #0A75BE; }
        nav ul ul.dropdown {
          display: none;
          position: absolute;
          top: 45px;
          left: -130%;
          border-top: 1px solid #FFFFFF; }
        nav ul:after {
          content: '';
          width: 100%;
          display: inline-block; } }
    @media screen and (min-width: 64em) {
      nav ul {
        width: 1000px;
        height: 45px; }
        nav ul li {
          display: inline-block;
          position: relative; }
          nav ul li#mobile-menu {
            display: none; }
          nav ul li a {
            text-align: left;
            padding: 0 20px;
            width: 100%; }
            nav ul li a:last-child {
              border: none; }
            nav ul li a.active {
              border-left: 1px solid #FFFFFF;
              background-color: #0A75BE; }
        nav ul ul.dropdown {
          display: none;
          position: absolute; }
          nav ul ul.dropdown li {
            display: block;
            max-width: 10%; }
            nav ul ul.dropdown li a {
              text-align: left; } }

/*# sourceMappingURL=nav.css.map */
