* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

nav {
  float: left;
  font-family: "Inconsolata", sans-serif;
  font-size: 22px;
  max-width: 1000px;
  background-color: #2DA9FF;
  height: 45px; }
  @media screen and (min-width: 64em) {
    nav {
      width: 1000px; } }
  nav ul {
    width: 275px;
    margin: 0;
    padding: 0; }
    @media screen and (max-width: 30em) {
      nav ul.closed div#hamburger {
        float: left;
        margin: 10px -22px 10px 0;
        width: 22px;
        height: 22px;
        background-image: url("../images/hamburger.png");
        background-size: cover; }
      nav ul.closed li:nth-child(n+2) {
        display: none; }
      nav ul.closed ul.dropdown {
        display: none; }
      nav ul.open div#hamburger {
        float: left;
        margin: 10px -22px 10px 0;
        width: 22px;
        height: 22px;
        background-image: url("../images/x-icon.png");
        background-size: cover; }
      nav ul.open li ul.dropdown {
        width: 275px; }
        nav ul.open li ul.dropdown li a {
          line-height: 45px;
          border: none; }
        nav ul.open li ul.dropdown li:nth-child(4) {
          border-bottom: 1px solid #FFFFFF; } }
    nav ul li {
      width: auto;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      nav ul li#mobile-menu {
        text-transform: uppercase; }
    nav ul a {
      display: block;
      background-color: #2DA9FF;
      padding: 0 20px;
      color: #FFFFFF;
      line-height: 45px;
      text-align: center;
      text-decoration: none;
      border-bottom: 1px solid #FFFFFF;
      width: 100%; }
      nav ul a:hover {
        background-color: #0A75BE; }
    @media screen and (min-width: 30.1em) and (max-width: 63.99em) {
      nav ul {
        width: 768px; }
        nav ul li {
          float: left;
          width: 33.33%;
          border-right: 1px solid #FFFFFF; }
          nav ul li .dropdown {
            display: none; }
            nav ul li .dropdown li {
              width: 25%; }
          nav ul li:hover ul.dropdown {
            display: flex;
            margin-left: -100%;
            width: 768px; }
            nav ul li:hover ul.dropdown li {
              border-right: 0; }
          nav ul li#mobile-menu {
            display: none; } }
    @media screen and (min-width: 64em) {
      nav ul {
        display: flex;
        height: 45px; }
        nav ul li {
          width: 47%;
          padding: 0;
          border-right: 1px solid #FFFFFF; }
          nav ul li#mobile-menu {
            display: none; }
          nav ul li:last-child {
            border: none; }
          nav ul li .dropdown {
            display: none; }
          nav ul li a {
            text-align: left;
            width: 100%; }
            nav ul li a.active {
              background-color: #0A75BE; }
          nav ul li:hover ul.dropdown {
            display: block; }
            nav ul li:hover ul.dropdown li a {
              text-align: left;
              border: none; }
            nav ul li:hover ul.dropdown li:last-child {
              border-right: 1px solid #FFFFFF; } }

/*# sourceMappingURL=nav.css.map */
