//nav look and feel
$nav-line-height: 45px;
$nav-background: #2DA9FF;
$nav-font-color: #FFFFFF;
$link-hover-color: #0A75BE;
$nav-font:'Inconsolata',sans-serif;
$nav-font-size:22px;
$link-border-white: 1px solid #FFFFFF;
$link-border-blue: 1px solid #2DA9FF;
