@import "colors";
@import "grid";
@import "utils";

html, body {
    margin:0;
    padding:0;
}

nav {
    float:left;
    font-family:$nav-font;
    font-size:$nav-font-size;
    max-width:$content-width-large;
    background-color: $nav-background;
    height:$nav-line-height;
    ul {
        width:$content-width;
        margin:0;
        padding:0;
        @include size(small) {
            &.closed {
                div#hamburger {
                    float:left;
                    margin:10px -22px 10px 0;
                    width:22px;
                    height:22px;
                    background-image: url('../images/hamburger.png');
                    background-size:cover;
                }
                li:nth-child(n+2) {
                    display:none;
                }
                ul.dropdown {
                    display:none;
                }
            }
            &.open {
                div#hamburger {
                    float:left;
                    margin:10px -22px 10px 0;
                    width:22px;
                    height:22px;
                    background-image: url('../images/x-icon.png');
                    background-size:cover;
                }
                li ul.dropdown {
                    width:$content-width;
                    li {
                        a {
                            line-height:$nav-line-height;
                            border:none;
                        }
                        &:nth-child(4) {
                            border-bottom:$link-border-white;
                        }
                    }
                }
            }
        }
    li {
        list-style-type: none;
        margin:0;
        padding:0;
        &#mobile-menu {
            text-transform:uppercase;
        }
    }
    a {
        &:hover {
        background-color:$link-hover-color;
        }
        display: block;
        background-color: $nav-background;
        padding: 0 20px;
        color:$nav-font-color;
        line-height: $nav-line-height;
        text-align:center;
        text-decoration: none;
        border-bottom:$link-border-white;
        width:100%;
    }
    @include size(medium) {
        width:$content-width-medium;
        margin:0 auto;
        text-align:justify;
            > li {
                display:inline-block;
                width:30%;
                position: relative;
                margin:0;
                padding:0;
                &#mobile-menu {
                    display:none;
                }
                > a {
                    border-right:$link-border-white;
                }
            }
            a {
                width:100%;
                &.active {
                    background-color:$link-hover-color;
                }
            }
            ul.dropdown {
                display:none;
                position:absolute;
                top:$nav-line-height;
                left:-130%;
                border-top:$link-border-white;
            }
            &:after {
                content: '';
                width: 100%;
                display: inline-block;
            }
        }
    @include size(large) {
        width:$content-width-large;
        height:$nav-line-height;
        li {
            display:inline-block;
            position:relative;
            &#mobile-menu {
                display:none;
            }
            a {
                text-align:left;
                padding:0 20px;
                width:100%;
                &:last-child {
                    border:none;
                }
                &.active {
                    border-left:$link-border-white;
                    background-color:$link-hover-color;
                }
            }
        }
        ul.dropdown {
            display:none;
            position:absolute;
            li {
                display:block;
                max-width:10%;
                a {
                    text-align:left;
                }
            }
        }
    }
    }
}
