@import "colors";
@import "grid";
@import "utils";

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav {
    float:left;
    font-family:$nav-font;
    font-size:$nav-font-size;
    max-width:$content-width-large;
    @include size(large) {
        width:$content-width-large;
    }
    background-color: $nav-background;
    height:$nav-line-height;
    ul {
        width:$content-width;
        margin:0;
        padding:0;
        @include size(small) {
            &.closed {
                div#hamburger {
                    float:left;
                    margin:10px -22px 10px 0;
                    width:22px;
                    height:22px;
                    background-image: url('../images/hamburger.png');
                    background-size:cover;
                }
                li:nth-child(n+2) {
                    display:none;
                }
                ul.dropdown {
                    display:none;
                }
            }
            &.open {
                div#hamburger {
                    float:left;
                    margin:10px -22px 10px 0;
                    width:22px;
                    height:22px;
                    background-image: url('../images/x-icon.png');
                    background-size:cover;
                }
                li ul.dropdown {
                    width:$content-width;
                    li {
                        a {
                            line-height:$nav-line-height;
                            border:none;
                        }
                        &:nth-child(4) {
                            border-bottom:$link-border-white;
                        }
                    }
                }
            }
        }
    li {
        width:auto;
        list-style-type: none;
        margin:0;
        padding:0;
        &#mobile-menu {
            text-transform:uppercase;
        }
    }
    a {
        &:hover {
        background-color:$link-hover-color;
        }
        display: block;
        background-color: $nav-background;
        padding: 0 20px;
        color:$nav-font-color;
        line-height: $nav-line-height;
        text-align:center;
        text-decoration: none;
        border-bottom:$link-border-white;
        width:100%;
    }
    @include size(medium) {
        width:$content-width-medium;
            li {
                float:left;
                width:33.33%;
                border-right:$link-border-white;
                .dropdown {
                    display:none;
                    li {
                        width:25%;
                    }
                }
                &:hover {
                    ul.dropdown {
                        display:flex;
                        margin-left:-100%;
                        width:$content-width-medium;
                        li {
                            border-right:0;
                        }
                    }
                }
                &#mobile-menu {
                    display:none;
                }
            }
        }
    @include size(large) {
        display:flex;
        height:$nav-line-height;
        li {
            width:47%;
            padding:0;
            border-right:$link-border-white;
            &#mobile-menu {
                display:none;
            }
            &:last-child {
                border:none;
            }
            .dropdown {
                display:none;
            }
            a {
                text-align:left;
                width:100%;
                &.active {
                    background-color:$link-hover-color;
                }
            }
            &:hover {
                ul.dropdown {
                    display:block;
                    li {
                        a {
                            text-align:left;
                            border:none;
                        }
                        &:last-child {
                            border-right:$link-border-white;
                        }
                    }
                }
            }
        }
    }
    }
}
